<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.mwe.ewm.developer.runWorkflow"
            name="Run Workflow">
      </command>
      <command
            id="org.eclipse.emf.mwe.ewm.developer.resetWorkflowState"
            name="Reset Workflow State">
      </command>
      <command
            id="org.eclipse.emf.mwe.ewm.developer.resetWorkflowLog"
            name="Reset Workflow Log">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.mwe.ewm.developer.RunWorkflowHandler"
            commandId="org.eclipse.emf.mwe.ewm.developer.runWorkflow">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="runtime">
                     </test>
                  </and>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.mwe.ewm.developer.ResetWorkflowStateHandler"
            commandId="org.eclipse.emf.mwe.ewm.developer.resetWorkflowState">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="runtime">
                     </test>
                  </and>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.mwe.ewm.developer.ResetWorkflowLogHandler"
            commandId="org.eclipse.emf.mwe.ewm.developer.resetWorkflowLog">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="runtime">
                     </test>
                  </and>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.emf.mwe.ewm.developer.runWorkflow"
               style="push">
         </command>
         <command
               commandId="org.eclipse.emf.mwe.ewm.developer.resetWorkflowState"
               style="push">
         </command>
         <command
               commandId="org.eclipse.emf.mwe.ewm.developer.resetWorkflowLog"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
