<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="typeSystem" name="Static type system extension" schema="schema/typeSystem.exsd"/>
   <extension
         point="org.eclipse.emf.mwe.di.ui.typeSystem">
      <typeSystem
            class="org.eclipse.emf.mwe.di.types.java.JavaTypeSystem"
            dominant="true"
            priority="1">
      </typeSystem>
      <typeSystem
            class="org.eclipse.emf.mwe.di.types.emf.EMFTypeSystem"
            dominant="true"
            priority="2">
      </typeSystem>
   </extension>

 <extension
       point="org.eclipse.xtext.service.ui.serviceRegistrationFactory">
    <serviceRegistrationFactory
          class="org.eclipse.emf.mwe.di.ui.MWEUIConfig"/>
 </extension>
 
 <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.xtext.ui.core.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="mwe"
            id="org.eclipse.emf.mwe.di.MWE"
            name="MWE Editor">
      </editor>
   </extension>
 <extension
       point="org.eclipse.xtext.service.ui.serviceRegistrationFactory">
    <serviceRegistrationFactory
          class="org.eclipse.emf.mwe.di.MWEUiConfig"/>
    <serviceRegistrationFactory
          class="org.eclipse.emf.mwe.di.MWERuntimeConfig"/>
 </extension>
 <extension
         point="org.eclipse.ui.preferencePages">
		<page
			class="org.eclipse.xtext.service.ui.ServiceInjectingExecutableExtensionFactory:org.eclipse.xtext.ui.core.editor.preferences.LanguageRootPreferencePage/org.eclipse.emf.mwe.di.MWE"
			id="org.eclipse.emf.mwe.di.MWE"
			name="MWE">
			<keywordReference
				id="org.eclipse.emf.mwe.di.ui_gen.ui.keyword_MWE">
			</keywordReference>
		</page>
		<page
		    category="org.eclipse.emf.mwe.di.MWE"
		    class="org.eclipse.xtext.service.ui.ServiceInjectingExecutableExtensionFactory:org.eclipse.xtext.ui.core.editor.preferences.EditorPreferencePage/org.eclipse.emf.mwe.di.MWE"
		    id="org.eclipse.emf.mwe.di.MWE.editor"
		    name="Editor">
		    	<keywordReference 
           			id="org.eclipse.xtext.keyword.editor">
     			</keywordReference>
		</page>
      </extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="org.eclipse.emf.mwe.di.ui_gen.ui.keyword_MWE"
			label="MWE">
		</keyword>
		<keyword
            id="org.eclipse.emf.mwe.di.MWE.tasktags"
            label="Task Tags">
        </keyword>
	</extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.emf.mwe.di.services.MWEResourceFactory"
            type="mwe">
      </parser>
   </extension>
</plugin>
