<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.emf.mwe.ewm.launcher.workflowLaunchConfigurationType"
            icon="icons/obj16/workflow.gif"
            id="org.eclipse.emf.mwe.ewm.launcher.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.emf.mwe.ewm.internal.launcher.ui.WorkflowLaunchConfigurationTabGroup"
            id="org.eclipse.emf.mwe.ewm.launcher.ui.launchConfigurationTabGroup"
            type="org.eclipse.emf.mwe.ewm.launcher.workflowLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
