<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2010/01/03 21:23:55 bhunt Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/mwe/ewm/workflow/transaction/runtime"
            class="org.eclipse.emf.mwe.ewm.workflow.transaction.runtime.provider.RuntimeItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://www.eclipse.org/emf/mwe/ewm/workflow/runtime"
            class="org.eclipse.emf.mwe.ewm.workflow.transaction.runtime.provider.RuntimeItemProviderAdapterFactory$RuntimeChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/mwe/ewm/workflow/transaction/orchestration"
            class="org.eclipse.emf.mwe.ewm.workflow.transaction.orchestration.provider.OrchestrationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://www.eclipse.org/emf/mwe/ewm/workflow"
            class="org.eclipse.emf.mwe.ewm.workflow.transaction.orchestration.provider.OrchestrationItemProviderAdapterFactory$WorkflowChildCreationExtender"/>
   </extension>

</plugin>
