<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/xtext/common/mwe2/Mwe2" 
       class = "org.eclipse.emf.mwe2.language.mwe2.Mwe2Package"
       genModel = "model/Mwe2.genmodel" /> 
	
  </extension>
</plugin>
