<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2009/10/15 21:53:15 bhunt Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/mwe/ewm/workflow/examples/build"
            class="org.eclipse.emf.mwe.ewm.examples.build.BuildPackage"
            genModel="model/build.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="build"
            class="org.eclipse.emf.mwe.ewm.examples.build.util.BuildResourceFactoryImpl"/>
   </extension>

</plugin>
