<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/xtext/common/mwe/MWEConcept" 
       class = "org.eclipse.emf.mwe.concept.mweConcept.MweConceptPackage"
       genModel = "org/eclipse/xtext/common/mwe/MWEConcept.genmodel" /> 
	
  </extension>




</plugin>
