<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- launchConfiguration -->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.eclipse.emf.mwe2.launch.Mwe2LaunchConfigurationType"
            modes="run, debug"
            name="%mwe2launch.configType.name"
            delegate="org.eclipse.emf.mwe2.launch.shortcut.Mwe2LaunchDelegate"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"/>
   </extension>
  
</plugin>
