<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <!-- ====================================================================== -->
  <!-- Define primary TOC                                                     -->
  <!-- ====================================================================== -->
  
  <extension point="org.eclipse.help.toc">
    <toc file="toc.xml" primary="true"/>
  </extension>

  <!-- ====================================================================== -->
  <!-- Define TOCs                                                            -->
  <!-- ====================================================================== -->

   <extension point="org.eclipse.help.toc">
       <toc file="topics_Reference.xml" />
   </extension>

<!-- ============================================================================= -->
<!-- Define Javadoc locations                                                      -->
<!-- ============================================================================= -->
   <extension point="org.eclipse.pde.core.javadoc">
       <javadoc path="doc.zip!/references/javadoc" archive="true">
          <plugin id="org.eclipse.emf.mwe.core"/>
          <plugin id="org.eclipse.emf.mwe.utils"/>
          <plugin id="org.eclipse.emf.mwe.ui"/>
          <plugin id="org.eclipse.emf.mwe.ui.simpleEditor"/>
          <plugin id="org.eclipse.emf.mwe.ui.wtpEditor"/>
       </javadoc>
   </extension>



</plugin>
