<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.mwe.di.ui.typeSystem">
      <typeSystem
            class="typesystem.DummyTypeSystem"
            dominant="false"
            priority="100">
      </typeSystem>
   </extension>

</plugin>
